<span>
    <style>
            /* Specify styling for tooltip contents */
            .popover.customClass .popover-inner {
                color: white;
                background-color: black;
                white-space: normal;
                pointer-events: all; 
                cursor: auto;
                border: 0px;
                text-align: center;
            }
            
            .popover {
                background-color: black;
            }
            .popover.top>.arrow:after {
                border-top-color: black;
            }
            </style>
    <span class="badge-container" style="cursor: pointer;">
        <span>
            <div class="badge-icon dropdown-toggle dark-background-link bowtie-icon bowtie-status-info-outline" 
            popover-trigger="'outsideClick'" uib-popover-template="'myTooltipTemplate.html'" popover-class="customClass"></div>
        </span>
    </span>
    <script type="text/ng-template" id="myTooltipTemplate.html">
        <div>
            <div ng-if="helpData">
                <p>{{helpData.text}}</p>
                <a href="{{helpData.externalLink}}" target="_blank">Learn more </a>
            </div>
            <div ng-if="!helpData">
                <p>{{helpText}}</p>
                <a href="{{externalLink}}" target="_blank">Learn more </a>
            </div>
        </div>
    </script>
</span>
