<sfx-detail-view-navbar ctrl="MeshGatewayCtrl" name="{{gateway.name}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + MeshGatewayCtrl.activeTabId" ng-if="MeshGatewayCtrl.activeTabId" class="flex-child"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td title="{{gateway.name}}">{{gateway.name}}</td>
                        <td>{{gateway.raw.properties.description}}</td>
                    </tr>

                    <tr>
                        <th>Source Network</th>
                        <th>Destination Network</th>
                    </tr>
                    <tr>
                        <td>{{gateway.raw.properties.sourceNetwork.name}}</td>
                        <td>{{gateway.raw.properties.destinationNetwork.name}}</td>
                    </tr>

                    <tr>
                        <th>IpAddress</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>{{gateway.raw.properties.ipAddress}}</td>
                        <td>{{gateway.raw.properties.status}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="detail-pane">
            <!-- <h4>Unhealthy Evaluation</h4>
            <p>
                {{application.raw.properties.unhealthyEvaluation}}
            </p> -->
        </div>

        <div class="detail-pane">
                <h4>TCP</h4>
                <sfx-detail-list list="gateway.raw.properties.tcp" list-settings="listSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>HTTP</h4>
            <sfx-detail-list list="flattenedHttp" list-settings="httpListSettings"></sfx-detail-list>
    </div>

    </script>
</div>
