<sfx-detail-view-navbar ctrl="MeshSecretCtrl" name="{{secret.name}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + MeshSecretCtrl.activeTabId" ng-if="MeshSecretCtrl.activeTabId" class="flex-child"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td >{{secret.name}}</td>
                        <td>{{secret.raw.properties.description}}</td>
                    </tr>

                    <tr>
                        <th>Kind</th>
                        <th>ContentType</th>
                    </tr>
                    <tr>
                        <td>{{secret.raw.properties.kind}}</td>
                        <td>{{secret.raw.properties.contentType}}</td>
                    </tr>

                </table>
            </div>
        </div>


        <div class="detail-pane">
                <h4>Versions</h4>
                <sfx-detail-list list="secret.secretValues " list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>
</div>
